header {
    background-color: #08669A;
    max-height: 350px;
    padding-top: 80px;
    padding-bottom: 20px;
}

header:after {
    content: "";
    position: absolute;
    left: 0;
    top: 300px;
    width: 0;
    height: 0;
    border-top: 100px solid #08669A;
    border-left: calc(100vw) solid transparent;
    border-right: 0 solid transparent;
}

header h1 {
    text-align: center;
    color: #D19B00;
    font-size: 5em;
    text-shadow: -1px -1px 1px #A33A00, 1px 1px 1px #F1E000;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

body {
    background-color: #cacaca;
    margin: 0;
}

img {
    display: block;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#body {
    background-color: whitesmoke;
    width: 70%;
    min-width: 350px;
    max-width: 950px;
    margin-left: auto;
    padding: 3em 1em 1em;
}

#body_container {
    padding: 2em 5em;
}

#title_art_id {
    font-size: .3em;
    color: #666;
    padding-left: 1em;
}
#title_art_id:before {
    content: "#";
}

#introduction {
    padding: 3em;
    font-size: large;
}

#avatar_div {
    display: inline-block;
    width: 15%;
    padding: 5px;
    background-color: #DEC026;
    margin-left: -16%;
    float: left;
}

#avatar_div img {
    width: 100%;
}

#menu {
    /*background-color: #00bcd4;*/
    margin-top: 100px;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
}

.menu_tab {
    background-color: #08669A;
    color: whitesmoke;
    padding: 5px 1em;
    margin-bottom: 1em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

#main_galleries {
    clear: left;
}

.section_heading {
    width: 7em; /* "MMMMMMM" > "* Featured" */
    margin-left: -5%;
    padding: 0.2em;
    color: whitesmoke;
}

#featured_heading {
    background-color: #DE6426;
}

#latest_heading {
    background-color: #2cc36b;
}

.mini_gallery, .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.mini_gallery div, .gallery div {
    flex-shrink: 1;
}

.mini_gallery div img, .gallery div img {
    border: #00bcd4 2px solid;
}

#featured_section div img {
    border: #DEC026 2px solid;
}

.thumbnail {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.thumbnail_date {
    text-align: right;
    font-style: italic;
    color: grey;
    margin-bottom: 8px;
}

.thumbnail_title {
    font-weight: bold;
    text-align: center;
    margin: 8px auto;
    /*background-color: #00bcd4;*/
    padding: 0 1em;
    max-width: 200px;
}

.thumbnail_star_counter {
    background-color: #DE6426;
    color: whitesmoke;
    width: 4em;
    border-radius: 2em;
    position: relative;
    top: 2em;
    left: -1em;
}

#gallery_search_form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#gallery_search_form * {
    flex-grow: 1;
    margin: 0 10px;
}

#gallery_search_form input[type="submit"] {
    background-color: #08669A;
    color: whitesmoke;
    border: none;
}

#gallery_search_bar {

}

#art_full_img {
    margin-bottom: 2em;
}

#art_full_img img {
    max-width: 100%;
}

#art_details_div {
    display: flex;
    flex-flow: row nowrap;
}

#art_description_div, #art_data_div {
    background: #e0f4ff url("../images/bg.png");
    padding: 1em;
    border: 3px solid;
    border-image: linear-gradient(rgba(0, 51, 102, 0), rgba(8, 102, 154, 1)) 1 10%;

    color: #08669A;
    font-family: "Segoe UI", Arial, sans-serif;
}

#star_button {
    background-color: #DE6426;
    text-align: center;
    color: whitesmoke;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 2em;
    box-shadow: -3px -3px rgba(1, 1, 1, 0.5) inset, 3px 3px rgba(254, 254, 100, 0.5) inset;
}

#star_button:hover {
    cursor: pointer;
    background-color: #f0855b;
}

#star_button:active {
    cursor: pointer;
    background-color: #ca4d0b;
    box-shadow: -3px -3px rgba(254, 254, 100, 0.5) inset, 3px 3px rgba(1, 1, 1, 0.5) inset;
}

#art_data_div {
    min-width: 10em;
    margin-left: 2em;
    display: flex;
    flex-flow: column nowrap;
}

.art_stat_label {
    font-weight: bold;
    margin-bottom: 0;
}

.art_stat_value {
    text-align: right;
    margin-top: 0;
}

#contact_form div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#contact_form div label, #contact_form label{
    width: 100%;
    margin: 1em;
    font-weight: bold;
}

#contact_form div label input, #contact_form label textarea {
    display: block;
    flex-grow: 1;
    width: 100%;
    min-height: 2em;
}

#contact_form label textarea {
    min-height: 10em;
}

#contact_form input[type="submit"] {
    text-align: right;
    float: right;
    height: 2em;
    background-color: #08669A;
    color: whitesmoke;
    margin-top: 1em;
}

#contact_form input[type="submit"]::after {
    clear:both;
}

footer {
    background-color: #08669A;
    color: whitesmoke;
    text-align: center;
}